body{
  background-image: url("https://cdn.discordapp.com/attachments/1144867453218856971/1345701150468472843/Untitled_design_3.png?ex=67c5815c&is=67c42fdc&hm=5c4c7c495fb512859c51b713b1136a99fbcffaac25a25a343e240c49d25be15b&format=webp&quality=lossless&width=1956&height=1100");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: rbh;
}
@font-face{
font-family: anja;
src: url(AnjaEliane.ttf);
}

@font-face{
font-family: kachika;
src: url(KACHIKA.ttf);
}

@font-face{
font-family: smc;
src: url(smc.otf);
}

@font-face{
font-family: smci;
src: url(smci.otf);
}

@font-face{
font-family: rbh;
src: url(rbh.otf);
}

@font-face{
font-family: rbho;
src: url(rbho.otf);
}

.nav-link, .search{
color: #261f18;
}

.search{
font-family: rbh;
}

h1{
font-family: rbh;
background-color: #53b4e6;
}

input{
border: #261f18 3px solid;
border-radius: 10px;
}  
button {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
opacity: 1
}

